<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content>
  <form [formGroup]="jurisdictionForm">
    <mat-form-field class="w-full mt-auto" appearance="outline">
      <mat-label>Jurisdição</mat-label>
      <mat-select formControlName="entity" [compareWith]="compare">
        <mat-option *ngFor="let entity of entities" [value]="entity">
            {{entity.acronym}}::{{entity.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full mt-auto" appearance="outline">
        <mat-label>Inicia Em</mat-label>
        <input matInput formControlName="startsAt" [matDatepicker]="startAtPicker">
        <mat-datepicker-toggle matPrefix [for]="startAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #startAtPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="w-full mt-auto" appearance="outline">
        <mat-label>Termina Em</mat-label>
        <input matInput formControlName="endsAt" [matDatepicker]="endsAtPicker">
        <mat-datepicker-toggle matPrefix [for]="endsAtPicker"></mat-datepicker-toggle>
        <mat-datepicker #endsAtPicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Salvar</button>
  <button mat-flat-button [mat-dialog-close]="data.object.entity">Cancelar</button>
</div>