th,
td {
  padding: 8px;
  border-bottom: 1px solid rgb(233 230 230);
  text-align: left;
  white-space: normal;
  word-wrap: normal;
  overflow-wrap: normal;
}

/* Ajustando a largura relativa das colunas */
.level-column,
.grade-type-column,
.weight-column {
  flex: 1;
  width: 100px;
}

.method-column,
.grade-column {
  flex: 1;
  width: 60px;
}

.user-component-column {
  flex: 2;
  width: 130px;
}

.sumary-column {
  flex: 6;
  width: 480px;
}

.actions-column {
  flex: 3;
  width: 200px;
  text-align: center;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
  th,
  td {
    min-width: 100px;
  }

  .sumary-column {
    flex: 3;
  }

  .user-component-column {
    flex: 2;
  }

  .actions-column {
    flex: 2;
  }
}

.success-button {
  background-color: #4CAF50 !important; /* Verde */
  color: white !important;
}

th {
  border-top: 1px solid rgb(233 230 230);
  background-color: #ccc;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.expand-button {
  margin-left: 10px;
  padding: 2px;
  vertical-align: middle;
}

.item-indent {
  display: block;
  white-space: normal;
  text-align: justify;
  text-indent: 160px;
  padding-left: 160px;
}

/* ESTILOS PARA STATUS DA ANÁLISE (LUPA) */
.analisado {
  background-color: #006400 !important; /* Verde */
  color: white !important;
}

.descrito {
  background-color: #1976d2 !important; /* Verde */
  color: white !important;
}

.pendente {
  background-color: #f4f4f4 !important; /* Azul */
  color: black !important;
}
