<!-- Header -->
<div
  class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b"
>
  <!-- Title -->
  <div>
    <div class="text-4xl font-extrabold tracking-tight leading-none">
      Avaliar Planos
    </div>
  </div>
</div>
<!-- Search -->
<div class="flex-auto">
  <form [formGroup]="searchForm">
    <mat-form-field class="w-full mt-auto" appearance="outline">
      <input
        formControlName="filterValue"
        matInput
        placeholder="Digite para pesquisar"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<p-treeTable [value]="treeData" [scrollable]="true" class="responsive-table">
  <ng-template pTemplate="header">
    <tr>
      <th class="level-column">Nível</th>
      <th class="sumary-column">
        Sumário
        <button
          mat-icon-button
          class="expand-all-button"
          matTooltip="Expandir tudo"
          (click)="expandirTodos()"
        >
          <mat-icon>unfold_more</mat-icon>
        </button>
      </th>
      <th class="user-component-column">Supervisor</th>
      <th class="user-component-column">Auditor</th>
      <th class="weight-column">Peso (%)</th>
      <th class="grade-column">Nota</th>
      <th class="actions-column">
        <button mat-raised-button color="primary" [matTooltip]="'Exportar Dados'">
          <mat-icon>backup</mat-icon>
        </button>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td class="level-column">
        {{ rowData.objectType }}
      </td>
      <td
        class="sumary-column"
        [ngClass]="{ 'item-indent': rowData.objectType === 'Item' }"
      >
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.name }}
      </td>
      <td class="user-component-column">
        {{ rowData.supervisor?.name || "" }}
      </td>
      <td class="user-component-column">{{ rowData.auditor?.name || "" }}</td>
      <td class="weight-column">
        <ng-container *ngIf="rowData.objectType === 'Pilar'">
          <input
            type="decimal"
            class="pillar-weight"
            (blur)="onPillarWeightBlur($event, rowNode, rowData)"
            (change)="highlightChange($event)"
            [ngModel]="rowData.weight"
            [disabled]="!canEditPillarWeight(rowData)"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Componente'">
          <input
            type="decimal"
            class="component-weight"
            [ngModel]="rowData.weight"
            [disabled]="true"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Plano'">
          <input
            type="text"
            class="plan-weight"
            [ngModel]="rowData.weight"
            [disabled]="true"
            style="text-align: center; width: 50px"
          />
          %
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Tipo Nota'">
          <input
            type="text"
            class="grade-type-weight"
            [ngModel]="rowData.weight"
            [disabled]="true"
            style="text-align: center; width: 50px"
          />
          %
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Elemento'">
          <select
            [ngModel]="rowData.weight"
            (focus)="storePreviousWeight(rowData)"
            (ngModelChange)="onWeightChange($event, rowNode, rowData)"
            (change)="highlightChange($event)"
            class="grade-column"
            [disabled]="!canEditElementWeight(rowData)"
          >
            <option [value]="0">0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="4">4</option>
            <option [value]="8">8</option>
          </select>
        </ng-container>
      </td>
      <td class="grade-column">
        <ng-container *ngIf="rowData.objectType === 'Ciclo'">
          <input
            type="decimal"
            class="cycle-grade"
            [ngModel]="rowData.grade || 0"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Pilar'">
          <input
            type="decimal"
            class="pillar-grade"
            [disabled]="true"
            [ngModel]="rowData.grade || 0"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Componente'">
          <input
            type="decimal"
            class="component-grade"
            [disabled]="true"
            [ngModel]="rowData.grade || 0"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Plano'">
          <input
            type="decimal"
            class="plan-grade"
            [disabled]="true"
            [ngModel]="rowData.grade || 0"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Tipo Nota'">
          <input
            type="decimal"
            class="grade-type-grade"
            [disabled]="true"
            [ngModel]="rowData.grade || 0"
            style="text-align: center; width: 50px"
          />
        </ng-container>
        <ng-container *ngIf="rowData.objectType === 'Elemento'">
          <select
            [ngModel]="rowData.grade"
            (focus)="storePreviousGrade(rowData)"
            (ngModelChange)="onGradeChange($event, rowNode, rowData)"
            (change)="highlightChange($event)"
            [ngModel]="rowData.grade"
            [disabled]="!canEditElementGrade(rowData)"
          >
            <option [value]="0">N/A</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
          </select>
        </ng-container>
      </td>
      <td class="actions-column">
        <div class="button-container">
          <button
            *ngIf="rowData.objectType == 'Entidade'"
            mat-raised-button
            color="primary"
            [matTooltip]="'Radar'"
          >
            <mat-icon>radar</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Ciclo'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.cicloAnalisado === true,
              pendente: !rowData.cicloAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Pilar'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.pilarAnalisado === true,
              pendente: !rowData.pilarAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Componente'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.componenteAnalisado === true,
              pendente: !rowData.componenteAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Plano'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.planoAnalisado === true,
              pendente: !rowData.planoAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Tipo Nota'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.tipoNotaAnalisado === true,
              pendente: !rowData.tipoNotaAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Elemento'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.elementoAnalisado === true,
              pendente: !rowData.elementoAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Item'"
            mat-raised-button
            [disabled]="!canAnalyseTier(rowData)"
            [ngClass]="{
              analisado: rowData.itemAnalisado === true,
              pendente: !rowData.itemAnalisado
            }"
            (click)="onAnalysisButtonClick(rowNode)"
            [matTooltip]="'Análise'"
          >
            <mat-icon>search</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Ciclo'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.cicloDescrito === true,
              pendente: !rowData.cicloDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Pilar'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.pilarDescrito === true,
              pendente: !rowData.pilarDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>   
          <button
            *ngIf="rowData.objectType == 'Componente'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.componenteDescrito === true,
              pendente: !rowData.componenteDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>            
          <button
            *ngIf="rowData.objectType == 'Plano'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.planoDescrito === true,
              pendente: !rowData.planoDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>              
          <button
            *ngIf="rowData.objectType == 'Tipo Nota'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.tipoNotaDescrito === true,
              pendente: !rowData.tipoNotaDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>           
          <button
            *ngIf="rowData.objectType == 'Elemento'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.elementoDescrito === true,
              pendente: !rowData.elementoDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button> 
<button
            *ngIf="rowData.objectType == 'Item'"
            mat-raised-button
            [ngClass]="{
              descrito: rowData.itemDescrito === true,
              pendente: !rowData.itemDescrito
            }"
            [matTooltip]="'Descrição'"
            (click)="onDescriptionButtonClick(rowNode)"
          >
            <mat-icon>description</mat-icon>
          </button>             
          <button
            *ngIf="rowData.objectType == 'Pilar'"
            mat-raised-button
            [matTooltip]="'Histórico'"
            (click)="onProductPillarHistoryClick(rowNode)"
          >
            <mat-icon>history</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Componente'"
            mat-raised-button
            [matTooltip]="'Histórico'"
            (click)="onProductComponentHistoryClick(rowNode)"
          >
            <mat-icon>history</mat-icon>
          </button>
          <button
            *ngIf="rowData.objectType == 'Elemento'"
            mat-raised-button
            [matTooltip]="'Histórico'"
            (click)="onProductElementHistoryClick(rowNode)"
          >
            <mat-icon>history</mat-icon>
          </button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
