th,
td {
  padding: 8px;
  border-bottom: 1px solid rgb(233 230 230);
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Ajustando a largura relativa das colunas */
.level-column,
.grade-type-column,
.weight-column{
  flex: 1;
  /* Colunas menores */
  width: 100px;
}

.method-column,
.grade-column {
  flex: 1;
  /* Colunas menores */
  width: 70px;
}

.user-component-column {
  flex: 2;
  /* Tamanho médio (Supervisor e Auditor) */
  width: 130px;
}

.sumary-column {
  flex: 6;
  /* Coluna maior (Sumário) */
  width: 480px;
}

.actions-column {
  flex: 3;
  /* Botões em um tamanho médio */
  width: 200px;
  text-align: center;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {

  th,
  td {
    min-width: 100px;
  }

  .sumary-column {
    flex: 3;
    /* Ainda será maior, mas ajustável */
  }

  .user-component-column {
    flex: 2;
  }

  .actions-column {
    flex: 2;
  }
}

.success-button {
  background-color: #4CAF50 !important;
  /* Verde */
  color: white !important;
}

th {
  border-top: 1px solid rgb(233 230 230);
  background-color: #ccc;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.expand-button {
  margin-left: 10px;
  padding: 2px;
  vertical-align: middle;
}
