<mat-toolbar class="relative" [color]="'primary'">
  <img
    [src]="'assets/images/logos/logo-dark.svg'"
    class="logo-header"
    [alt]="'Virtus'"
  />

  <button
    mat-button
    [matMenuTriggerFor]="coordination"
    *ngIf="
      loggedUser?.role?.toLowerCase() == 'chefe' ||
      loggedUser?.role?.toLowerCase() == 'supervisor'
    "
  >
    Coordenação
  </button>
  <button mat-button [matMenuTriggerFor]="evaluation">Avaliação</button>
  <button mat-button [matMenuTriggerFor]="configuration" *ngIf="loggedUser?.role?.toLowerCase() == 'admin'">Configuração</button>
  <button
    mat-button
    [matMenuTriggerFor]="administration"
    *ngIf="loggedUser?.role?.toLowerCase() == 'admin'"
  >
    Administração
  </button>
  <button mat-button [matMenuTriggerFor]="syncMenu">Sincronizações</button>
  <button mat-button [matMenuTriggerFor]="supportMenu">Suporte</button>

  <a [routerLink]="['/sobre']" mat-button>Sobre</a>

  <span class="spacer"></span>

  <button
    mat-button
    class="icon"
    [matMenuTriggerFor]="account"
    aria-label="Example icon-button with share icon"
  >
    {{ loggedUser.name }} ({{ loggedUser.role }})
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #account="matMenu">
  <button mat-menu-item (click)="changePassword()">Alterar Senha</button>
  <button mat-menu-item (click)="loggout()">Sair</button>
</mat-menu>

<mat-menu #coordination="matMenu">
  <a
    *ngIf="loggedUser?.role?.toLowerCase() == 'chefe'"
    [routerLink]="['/' + assingTeams]"
    mat-menu-item
    >Designar Equipes</a
  >
  <a
    *ngIf="
      loggedUser?.role?.toLowerCase() == 'chefe' ||
      loggedUser?.role?.toLowerCase() == 'supervisor'
    "
    [routerLink]="['/' + distributeActivities]"
    mat-menu-item
    >Distribuir Atividades
  </a>
</mat-menu>

<mat-menu #evaluation="matMenu">
  <a [routerLink]="['/' + evaluatePlans]" mat-menu-item>Avaliar Planos</a>
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Matrizes</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Anotações</a>
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Radares</a>
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Entidades</a>
</mat-menu>

<mat-menu #configuration="matMenu">
  <a [routerLink]="['/' + ciclesRoute]" mat-menu-item>Ciclos</a>
  <a [routerLink]="['/' + pillarsRoute]" mat-menu-item>Pilares</a>
  <a [routerLink]="['/' + componentsRoute]" mat-menu-item>Componentes</a>
  <a [routerLink]="['/' + typeOfNoteRoute]" mat-menu-item>Tipos de nota</a>
  <a [routerLink]="['/' + elementsRoute]" mat-menu-item>Elementos</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/' + indicatorsRoute]" mat-menu-item>Indicadores</a>
</mat-menu>

<mat-menu #administration="matMenu">
  <a [routerLink]="['/' + usersRoute]" mat-menu-item>Usuários</a>
  <a [routerLink]="['/' + officesRoute]" mat-menu-item>Escritórios</a>
  <a [routerLink]="['/sync-executives']" mat-menu-item>Dirigentes</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/' + rolesRoute]" mat-menu-item>Perfis</a>
  <a [routerLink]="['/' + featuresRoute]" mat-menu-item>Funcionalidades</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/' + statusRoute]" mat-menu-item>Status</a>
  <a [routerLink]="['/' + actionsRoute]" mat-menu-item>Ações</a>
  <a [routerLink]="['/' + workflowsRoute]" mat-menu-item>Workflows</a>
</mat-menu>

<mat-menu #syncMenu="matMenu">
  <a [routerLink]="['/' + indicatorScoresRoute]" mat-menu-item
    >Notas de Indicadores</a
  >
  <a [routerLink]="['/' + automaticScoresRoute]" mat-menu-item
    >Notas Automáticas</a
  >
  <mat-divider></mat-divider>
  <a [routerLink]="['/' + indicatorScoresRoute]" mat-menu-item
    >Logs</a
  >
  <a [routerLink]="['/' + automaticScoresRoute]" mat-menu-item
    >Cálculos</a
  >
</mat-menu>

<mat-menu #supportMenu="matMenu">
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Chamados</a>
  <a [routerLink]="['/' + entitiesRoute]" mat-menu-item>Versões</a>
</mat-menu>
