<h1 mat-dialog-title>Sincronizar Indicadores</h1>

<div mat-dialog-content>
  <form [formGroup]="syncForm">
    <mat-form-field class="w-full mt-2" appearance="outline">
      <mat-label>Competência</mat-label>
      <input matInput formControlName="referenceDate" placeholder="MMAAAA" />
      <mat-error *ngIf="syncForm.get('referenceDate')?.hasError('pattern')">
        Competência inválida. Use o formato MMAAAA.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="sync()">Sincronizar</button>
</div>
