<h1 mat-dialog-title>{{ getTitle() }}</h1>
<div mat-dialog-content>
  <form [formGroup]="componentForm">
    <mat-tab-group class="mt-2">
      <!-- Aba: Dados Gerais -->
      <mat-tab label="Dados Gerais">
        <div class="p-4">
          <mat-form-field class="w-full mt-auto" appearance="outline">
            <mat-label>Nome</mat-label>
            <input formControlName="name" matInput />
          </mat-form-field>

          <mat-form-field class="w-full mt-auto" appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea formControlName="description" matInput></textarea>
          </mat-form-field>

          <mat-form-field class="w-full mt-auto" appearance="outline">
            <mat-label>Link de Referência</mat-label>
            <input formControlName="reference" matInput />
          </mat-form-field>

          <mat-form-field
            *ngIf="object.author"
            class="w-full mt-auto"
            appearance="outline"
          >
            <mat-label>Autor</mat-label>
            <input formControlName="author" readonly matInput />
          </mat-form-field>

          <mat-form-field
            *ngIf="object.createdAt"
            class="w-full mt-auto"
            appearance="outline"
          >
            <mat-label>Criado Em</mat-label>
            <input formControlName="createdAt" readonly matInput />
          </mat-form-field>
        </div>
      </mat-tab>

      <!-- Aba: Manual -->
      <mat-tab label="Manual">
        <div class="p-4">
          <app-components-grade-list [component]="object"></app-components-grade-list>
          <app-components-elements-list [component]="object"></app-components-elements-list>
        </div>
      </mat-tab>

      <!-- Aba: Automático -->
      <mat-tab label="Automático">
        <div class="p-4">
          <app-components-indicators-list [component]="object"></app-components-indicators-list>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>

<!-- Botões abaixo das abas -->
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Salvar</button>
  <button mat-flat-button [mat-dialog-close]="object.name">Cancelar</button>
</div>
