<!-- Cabeçalho -->
<div
  style="
    background-color: #003f87;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: normal;
  "
>
  Motivo da alteração
</div>

<!-- Corpo principal -->
<div style="padding: 16px; font-size: 14px">
  <table style="width: 100%; border-collapse: collapse">
    <tr>
      <th style="text-align: left; padding: 4px">Alteração de</th>
    </tr>
    <tr>
      <td>
        <input
          [value]="
            data.tipoAlteracao === 'P'
              ? 'Planos'
              : data.tipoAlteracao === 'R'
              ? 'Auditor'
              : 'Nota'
          "
          disabled
          style="
            width: 100%;
            border: none;
            background-color: #f7f7f7;
            padding: 6px;
          "
        />
      </td>
    </tr>
    <tr>
      <th style="text-align: left; padding: 4px">De</th>
      <th style="text-align: left; padding: 4px">Para</th>
    </tr>
    <tr>
      <td>
        <input
          [value]="
            data.tipoAlteracao === 'R'
              ? data.auditorAnteriorName || '—'
              : data.configAnterior || 'Vazio'
          "
          disabled
          style="
            width: 100%;
            border: none;
            background-color: #f7f7f7;
            padding: 6px;
          "
        />
      </td>
      <td>
        <input
          [value]="
            data.tipoAlteracao === 'R' ? data.auditorName || '—' : data.config
          "
          disabled
          style="
            width: 100%;
            border: none;
            background-color: #f7f7f7;
            padding: 6px;
          "
        />
      </td>
    </tr>
    <tr>
      <th style="text-align: left; padding: 4px">Autor</th>
      <th style="text-align: left; padding: 4px">Alterado em</th>
    </tr>
    <tr>
      <td>
        <input
          [value]="data.authorName"
          disabled
          style="
            width: 100%;
            border: none;
            background-color: #f7f7f7;
            padding: 6px;
          "
        />
      </td>
      <td>
        <input
          [value]="data.alteradoEm"
          disabled
          style="
            width: 100%;
            border: none;
            background-color: #f7f7f7;
            padding: 6px;
          "
        />
      </td>
    </tr>
    <tr>
      <th colspan="2" style="text-align: left; padding: 4px">Motivação</th>
    </tr>
    <tr>
      <td colspan="2">
        <textarea
          readonly
          rows="6"
          [value]="data.motivacao || '-'"
          style="
            width: 100%;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            resize: vertical;
          "
        ></textarea>
      </td>
    </tr>
  </table>
</div>

<!-- Rodapé -->
<div style="display: flex; justify-content: flex-end; padding: 16px">
  <button mat-button [mat-dialog-close]="">Fechar</button>
</div>
