<h1 mat-dialog-title>{{getTitle()}}</h1>
<div mat-dialog-content>
    <ng-container *ngTemplateOutlet="treeNode; context:{ $implicit: treeData }"></ng-container>

    <ng-template #treeNode let-nodes>
        <div class="tree">
            <div class="tree-node" *ngFor="let node of nodes">
                <div class="tree-node-content">
                    <span>{{ node.objectType }}: {{ node.name }}</span>
                </div>
                <div *ngIf="node.children.length > 0">
                    <ng-container *ngTemplateOutlet="treeNode; context:{ $implicit: node.children }"></ng-container>
                </div>
            </div>
        </div>
    </ng-template>


</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Salvar</button>
    <button mat-flat-button [mat-dialog-close]="">Cancelar</button>
</div>