<h1 mat-dialog-title>{{ getTitle() }}</h1>

<div mat-dialog-content>
  <p-treeTable
    [value]="treeData"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 140px; box-sizing: border-box">Nível</th>
        <th style="width: 200px; box-sizing: border-box">Sumário</th>
        <th style="width: 80px; box-sizing: border-box">Planos</th>
        <th style="width: 180px; box-sizing: border-box">Equipe</th>
        <th style="width: 280px; box-sizing: border-box">Cronograma</th>
        <th style="width: 100px; box-sizing: border-box">Histórico</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr [ttRow]="rowNode">
        <!-- Nível -->
        <td style="width: 120px; box-sizing: border-box">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{ rowData.objectType }}
        </td>

        <!-- Sumário -->
        <td style="width: 190px; box-sizing: border-box">
          {{ rowData.name }}
        </td>

        <!-- Planos -->
        <td style="width: 80px; box-sizing: border-box">
          <ng-container *ngIf="rowData.objectType === 'Componente'">
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              (click)="openPlansConfig(rowData.object)"
              [ngClass]="{
                'success-button': rowData.object.plans?.length > 0
              }"
            >
              Planos
            </button>
          </ng-container>
        </td>

        <!-- Equipe -->
        <td style="width: 160px; box-sizing: border-box">
          <ng-container [ngSwitch]="rowData.objectType">
            <span *ngSwitchCase="'Ciclo'" style="font-size: 13px">
              {{ rowData.object.supervisor?.name }}
            </span>
            <mat-form-field
              *ngSwitchCase="'Componente'"
              appearance="outline"
              style="width: 100%; margin: 0"
            >
              <mat-label>Auditor</mat-label>
              <mat-select
                [(ngModel)]="rowData.object.auditor"
                (openedChange)="setPreviousAuditor(rowData.object.auditor)"
                (selectionChange)="
                  justifyAuditorReplacement(rowNode, $event.value)
                "
                [compareWith]="compareAuditors"
              >
                <mat-option
                  *ngFor="let auditor of distributeActivitiesTree?.auditors"
                  [value]="auditor"
                >
                  {{ auditor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </td>

        <!-- Cronograma -->
        <td style="width: 240px; box-sizing: border-box">
          <div style="display: flex; gap: 8px">
            <!-- Inicia em -->
            <ng-container *ngIf="rowData.objectType === 'Componente'">
              <mat-form-field
                appearance="outline"
                style="width: 130px; margin: 0"
              >
                <mat-label>Inicia</mat-label>
                <input
                  matInput
                  [matDatepicker]="startPicker"
                  [value]="rowData.object.startsAt"
                  (focus)="
                    setPreviousDates(
                      rowNode,
                      rowData.object.startsAt,
                      rowData.object.endsAt
                    )
                  "
                  (dateChange)="
                    onStartsChange(rowNode, rowData.object, $event.value)
                  "
                  placeholder="Início"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #startPicker
                  (opened)="
                    setPreviousDates(
                      rowNode,
                      rowData.object.startsAt,
                      rowData.object.endsAt
                    )
                  "
                ></mat-datepicker>
              </mat-form-field>

              <!-- Termina em -->
              <mat-form-field
                appearance="outline"
                style="width: 130px; margin: 0"
              >
                <mat-label>Termina</mat-label>
                <input
                  matInput
                  [matDatepicker]="endPicker"
                  [value]="rowData.object.endsAt"
                  (focus)="
                    setPreviousDates(
                      rowNode,
                      rowData.object.startsAt,
                      rowData.object.endsAt
                    )
                  "
                  (dateChange)="
                    onEndsChange(rowNode, rowData.object, $event.value)
                  "
                  placeholder="Término"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  #endPicker
                  (opened)="
                    setPreviousDates(
                      rowNode,
                      rowData.object.startsAt,
                      rowData.object.endsAt
                    )
                  "
                ></mat-datepicker>
              </mat-form-field>
            </ng-container>
          </div>
        </td>

        <!-- Histórico -->
        <td style="width: 80px; box-sizing: border-box; text-align: left">
          <ng-container *ngIf="rowData.objectType === 'Componente'">
            <button
              mat-raised-button
              style="width: 100%"
              (click)="onProductComponentHistoryClick(rowNode)"
            >
              Histórico
            </button>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>
    Salvar
  </button>
  <button mat-flat-button [mat-dialog-close]="">Cancelar</button>
</div>
